<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        body {
            background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            background-repeat: no-repeat;
            background-size: contain;
            background-attachment: fixed;
            background-size: 100%;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<head th:insert="/index :: head"></head>
<div class="text-center" style="color: black">
    <h3>
        Customer's List
    </h3>
</div>
<div>
    <p th:text="${mess}" style="color:red;"></p>
</div>
<!--<div class="row">-->
<!--    <div class="container-fluid col-lg-3">-->
<!--        <a href="/customer/create">-->
<!--            <button class="btn btn-secondary btn-outline-secondary btn-sm ">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                     class="bi bi-person-plus" viewBox="0 0 16 16">-->
<!--                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>-->
<!--                    <path fill-rule="evenodd"-->
<!--                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>-->
<!--                </svg>-->
<!--                <span class="text-light"> Add new Customer</span>-->
<!--            </button>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->

<!--    </div>-->
<!--    <div class="col-lg-6">-->
<!--        <form class="d-flex my-2" role="search" action="/customer">-->
<!--            <input class="form-control me-2" type="text" placeholder="Input search Name" aria-label="Search"-->
<!--                   name="nameSearch">-->
<!--            <input class="form-control me-2" type="text" placeholder="Input search Address" aria-label="Search"-->
<!--                   name="addressSearch">-->
<!--            <input class="form-control me-2" type="text" placeholder="Input search Phone" aria-label="Search"-->
<!--                   name="phoneSearch">-->
<!--            <button class="btn btn-outline-success" type="submit" name="action" value="search">-->
<!--                <i class="fa-solid fa-magnifying-glass"></i>-->
<!--            </button>-->
<!--        </form>-->
<!--    </div>-->

    <div class="row" style="margin: 30px 10px">
        <div class="col-lg-3"><a th:href="@{/customer/create}" >
            <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" style="background-color: #addccf">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
                    class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd"
                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                <span class="text-light">Add New Customer</span>
            </button>
        </a></div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <form class="d-flex" role="search" action="" method="get">
                <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search" name="name">
                <input class="form-control me-2" type="search" placeholder="Search by phone number" aria-label="Search"
                       name="phoneNumber">
                <input class="form-control me-2" type="search" placeholder="Search by address" aria-label="Search"
                       name="address">
                <button class="btn btn-outline-success" type="submit" style="background: #addccf">Search</button>
            </form>
        </div>
    </div>
<!--</div>-->

<div class="row">
    <table class="table table-light table-striped table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">Serial</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,rowStat : ${customerList}">
            <th th:text="${rowStat.count}"></th>
            <th hidden th:text="${row.id}"></th>
            <td class="text-center" th:text="${row.name}"></td>
            <td class="text-center" th:text="${row.dateOfBirth}"></td>
            <td class="text-center" th:text="${row.address}"></td>
            <td>
                <a th:href="@{customer/{id}/edit(id=${row.id})}">
                    <button class="btn btn-outline-secondary btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-brush-fill" viewBox="0 0 16 16">
                            <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
                        </svg>
                    </button>
                </a>
            </td>
            <td class="text-center">
                <button th:attr="onclick=|deleteCustomer('${row.id}', '${row.name}')|"
                        class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteCustomer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{'/customer'(page=${customerList.number - 1}, name=${name})}"
                   th:if="${customerList.hasPrevious()}">Previous</a>
            </li>
            <li>
                <a class="page-link" th:text="${customerList.number + 1}"></a>
                <!--                <span th:text="${facilityList.totalPages}"></span>-->
            </li>
            <li>
                <a class="page-link" th:href="@{'/customer'(page=${customerList.number + 1}, name=${name})}"
                   th:if="${customerList.hasNext()}">Next</a>
            </li>
        </ul>
    </nav>
    <!--     Modal -->
    <div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/customer/delete}">
                    <div class="modal-body">
                        <span class="h6">Customer:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
                        <input type="hidden" name="idDelete" id="idDelete" readonly/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="/index :: footer"></footer>
<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerHTML = name;

    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>