<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
            width: 100%;
        }

    </style>
</head>
<body>
<div class="container">
    <form action="/abc" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Username" name="username">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="Password" name="password">
                </td>

            </tr>
            <tr>
                <td>
                    Remember Me
                </td>
                <td>
                    <input type="checkbox" name="remember-me">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Sign in</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>