<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:if="${mess}">
    <span style="color: red" th:text="${mess}"></span>
</div>
<div th:if="${#message}">
    <span style="color: red" th:text="${message}"></span>
</div>
<table class="table table-striped">
    <tr>
        <th>STT</th>
        <th>Tên đầu sách</th>
        <th>Tên tác giả</th>
        <th>Số lượng sách</th>
        <th>Mượn sách</th>
        <th>Trả sách</th>
    </tr>

    <tr th:each="row,rowStat : ${books}">
        <td th:text="${row.id}" hidden></td>
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.author}"></td>
        <td th:text="${row.total}"></td>
        <td>
            <a th:href="@{/book/{id}/loan(id= ${row.id})}">
                <button class="btn btn-info">
                    Mượn sách
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/book/{id}/return(id= ${row.id})}">
                <button class="btn btn-info">
                    Trả sách
                </button>
            </a>
        </td>

    </tr>
</table>


</body>
</html>