<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Xoá Blog</h3>
<p>
    <a href="/12_jquery_ajax/excercise/blog/blog_fe/list">
        Trở về trang Blog
    </a>
</p>
<div id="form">
    <form action="/12_jquery_ajax/excercise/blog/blog_fe/delete" th:object="${blogs}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tên tác giả</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Tác phẩm</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Thể loại</label>
            <input type="text" th:field="*{type}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>