<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Xoá chủ đề</h3>

<a href="/category">Trở về trang chủ</a>

<form action="/category/delete" method="post" th:object="${category}">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}" /></td>
        </tr>

        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{nameCategory}" readonly/></td>
        </tr>
    </table>

    <button type="submit">Delete</button>
</form>
</body>
</html>