<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
<header style="background-color: chocolate;height: 100px">
    Đây là header
</header>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid mx-5">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown ms-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Employee</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/employee?action=display">Employee list</a></li>
                        <li><a class="dropdown-item" href="/employee?action=create">Add new Employee</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Customer</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Customer">Customer list</a></li>
                        <li><a class="dropdown-item" href="/Customer?action=create">Add new Customer</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Service</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Facility list</a></li>
                        <li><a class="dropdown-item" href="#">Add new Facility</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Contract</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Contract list</a></li>
                        <li><a class="dropdown-item" href="#">Add new Contract</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex my-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid" style="height: 520px;padding: 0">
    <div class="row" style="width: 100%;margin-left: 10px">
        <img width="100%" height="520" id="img" onclick="changeImage()"
             src="https://furamavietnam.com/wp-content/uploads/2018/11/Vietnam_Danang_Furama_Resort_Exterior_Courtyard-Night.jpg"
             alt="">
    </div>
    <div class="row" style="margin:50px ">
        <h2 class="col-4"
            style="color: #cbbe73; font-size: 24px;text-align: left;font-family: Playfair Display">
            KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI, FURAMA ĐÀ NẴNG, NỔI TIẾNG LÀ KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT NAM.
        </h2>
        <p class="col-4">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/h4kKPiiIuv4"
                    title="Villa Đà Nẵng #7-Biệt Thự  Đẳng  Cấp Furama Đà Nẵng Liệu Có Đáng Để Nghỉ Dưỡng? - Ovui Travel"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </p>
        <div class="col-4">
            <p style="text-align: justify">
                Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá
                thế giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt
                thự từ hai đến bốn phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế
                truyền thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh giá
                nhất tại Việt Nam – vinh dự được đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao
                điện ảnh và các nhà lãnh đạo kinh doanh quốc tế.
            </p>
        </div>
    </div>
    <div class="row" style="margin: 50px;text-align:center ">
        <div style="text-align: center">
            <h2 style="color: #cbbe73; font-size: 24px;font-family: Playfair Display;">
                CÁC LOẠI PHÒNG
            </h2>
        </div>
        <div style="text-align: justify">
            <p style="margin-left: 300px;margin-right: 300px">
                Khu nghỉ dưỡng có 196 phòng được thiết kế theo phong cách truyền thống Việt Nam kết hợp với phong cách
                Pháp, 2 tòa nhà 4 tầng có hướng nhìn ra biển, nhìn ra hồ bơi trong xanh và những khu vườn nhiệt đới xanh
                tươi mát. Ngoài ra, khu nghỉ dưỡng Furama còn cung cấp các liệu pháp spa, phòng xông hơi ướt, phòng
                xông hơi khô, dịch vụ mát-xa cạnh hồ bơi, các dịch vụ thể thao dưới nước và các lớp tập yoga và
                Thái Cực Quyền trên bãi biển.
            </p>
        </div>
    </div>
</div>
<footer style="background-color: chocolate; height: 100px;">
    ĐÂY LÀ FOOTER
</footer>
</body>
</html>