<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        body {
            background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            background-repeat: no-repeat;
            background-size: contain;
            background-attachment: fixed;
            background-size: 100%;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<head th:insert="/index :: head"></head>
<div class="text-center" style="color: black">
    <h1>
        Employee's List
    </h1>

</div>

<div class="row" style="margin: 30px 10px">
    <div class="col-lg-3">
        <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addEmployee"
                style="background-color: #addccf">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" -->
                class="bi bi-person-plus" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd"
                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <span class="text-light">Add New Employee</span>
        </button>
        </a></div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <form class="d-flex" role="search" action="" method="get">
            <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search" name="name">
            <input class="form-control me-2" type="search" placeholder="Search by phone number" aria-label="Search"
                   name="phoneNumber">
            <input class="form-control me-2" type="search" placeholder="Search by address" aria-label="Search"
                   name="address">
            <button class="btn btn-outline-success" type="submit" style="background: #addccf">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <table class="table table-bordered text-center" id="tableEmployee">
        <thead>
        <tr>
            <th scope="col">Serial</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, stat: ${employeeList}">
            <td th:text="${stat.count}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.dateOfBirth}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.address}"></td>
            <td>
                <button class="btn btn-outline-secondary btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-brush-fill" viewBox="0 0 16 16">
                        <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
                    </svg>
                </button>
            </td>
            <td class="text-center">
                <button onclick="modalDelete('${item.id}','${item.name}')" type="button"
                        class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteEmployee">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </button>
            </td>
            <td>
                <button th:attr="onclick=|viewEmployee('${item.name}','${item.dateOfBirth}','${item.idCard}',
                '${item.salary}','${item.phoneNumber}','${item.email}','${item.address}','${item.position.name}','${item.educationDegree.name}','${item.division.name}')|"
                        class="btn btn-outline-secondary btn-sm" data-bs-target="#viewEmployee" data-bs-toggle="modal"
                        type="button">
                        <span>
                            <i class="fa fa-street-view" aria-hidden="true"></i>
                        </span>
                </button>

            </td>
        </tr>
        </th:each>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{'/employee'(page=${employeeList.number - 1})}"
                   th:if="${employeeList.hasPrevious()}">Previous</a>
            </li>
            <li>
                <a class="page-link" th:text="${employeeList.number + 1}"></a>
            </li>
            <li>
                <a class="page-link" th:href="@{'/employee'(page=${employeeList.number + 1})}"
                   th:if="${employeeList.hasNext()}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- Modal delete -->
    <div class="modal fade" id="deleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/employee" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input hidden type="text" name="id" id="idDelete">
                        <input hidden type="text" name="action" value="delete">
                        <span>Are you sure to delete : </span>
                        <span style="color:red" id="nameDelete"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--    modal create-->
    <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form style=" background-color: #afd3f3;" class="border border-2 border-success p-3 rounded formCSS"
                      th:action="@{/employee/save}"
                      th:object="${employeeDto}" method="POST">
                    <div class="modal-header">
                        <h3 class="modal-title fw-bold" id="exampleModalLabel3">ADD NEW EMPLOYEE</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameAdd" class="h6">Employee Name:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"></p>
                            <div class="input-group">
                                <input type="text" id="nameAdd" class="form-control" placeholder="Nhập tên nhân viên.."
                                       th:field="*{name}" required
                                       pattern="^([\p{Lu}][\p{Ll}]{1,8})(\s([\p{Lu}]|[\p{Lu}][\p{Ll}]{1,10})){0,5}$"
                                       title="Tên nhân viên không được chứa số, và các kí tự đầu tiên của mỗi từ phải viết hoa."/>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="dateOfBirth" class="h6">Date Of Birth:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p>
                            <input type="date" id="dateOfBirth" class="form-control" th:field="*{dateOfBirth}"/>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="idCardAdd" class="h6">Id Card</label>
                            <p style="color: red" th:if="${#fields.hasErrors('idCard')}"
                               th:errors="*{idCard}"></p>
                            <div class="input-group">
                                <input type="text" id="idCardAdd" class="form-control" placeholder="Nhập số CMND/CCCD.."
                                       th:field="*{idCard}" required pattern="^\d{9}|\d{12}$"
                                       title="Số CMND/CCCD phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9)."/>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="salaryAdd" class="h6">Salary (VNĐ):</label>
                            <div class="input-group">
                                <input type="number" id="salaryAdd" class="form-control" placeholder="Nhập lương..."
                                       th:field="*{salary}" required pattern="^[1-9]\d*$"
                                       title="Lương (VNĐ) phải là số nguyên dương."/>
                                <span class="input-group-text"><i class="fa-solid fa-money-bill-wave"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="phoneAdd" class="h6">Phone Number:</label>
                            <div class="input-group">
                                <input type="text" id="phoneAdd" class="form-control" placeholder="Nhập SĐT.."
                                       th:field="*{phoneNumber}" required pattern="^(0|[(]84[)][+])9[01]\d{7}$"
                                       title="Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx."/>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="emailAdd" class="h6">Email:</label>
                            <div class="input-group">
                                <input type="text" id="emailAdd" class="form-control" placeholder="Nhập email.."
                                       th:field="*{email}" required
                                       pattern="^[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]{2,}(\.[A-Za-z0-9]{2,}){1,2}$"
                                       title="Địa chỉ email phải đúng định dạng."/>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="addressAdd" class="h6">Address:</label>
                            <div class="input-group">
                                <input type="text" id="addressAdd" class="form-control" placeholder="Nhập địa chỉ.."
                                       th:field="*{address}" required pattern="^.+$"
                                       title="Vui lòng không để trống địa chỉ."/>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="positionAdd">Position:</label>
                            <div class="input-group">
                                <select id="positionAdd" class="form-control" th:field="*{position.id}">
                                    <option th:each="item : ${positionList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="educationDegreeAdd">Education Degree:</label>
                            <div class="input-group">
                                <select id="educationDegreeAdd" class="form-control"
                                        th:field="*{educationDegree.id}">
                                    <option th:each="item : ${educationDegreeList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="divisionAdd">Division:</label>
                            <div class="input-group">
                                <select id="divisionAdd" class="form-control" th:field="*{division.id}">
                                    <option th:each="item : ${divisionList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal view-->
    <div class="modal fade" id="viewEmployee" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modalCSS">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLabel2">Information of employee</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <table>
                        <tr>
                            <td class="h6 pe-3">Name:</td>
                            <td id="name" class="text-primary h6"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Day Of Birth:</td>
                            <td id="birthday" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">ID:</td>
                            <td id="idCard" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Salary:</td>
                            <td id="salary" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Phone Number:</td>
                            <td id="phone" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Email:</td>
                            <td id="email" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Address:</td>
                            <td id="address" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Education Degree:</td>
                            <td id="educationDegree" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Division:</td>
                            <td id="division" class="text-primary"></td>
                        </tr>

                        <tr>
                            <td class="h6 pe-3">Position:</td>
                            <td id="position" class="text-primary"></td>
                        </tr>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="/index :: footer"></footer>
<script>
    function viewEmployee(name, birthday, idCard, salary, phone, email, address, position, educationDegree, division) {
        document.getElementById("name").innerText = name;
        document.getElementById("birthday").innerText = birthday;
        document.getElementById("idCard").innerText = idCard;
        document.getElementById("salary").innerText = "₫ " + salary;
        document.getElementById("phone").innerText = phone;
        document.getElementById("email").innerText = email;
        document.getElementById("address").innerText = address;
        document.getElementById("position").innerText = position;
        document.getElementById("educationDegree").innerText = educationDegree;
        document.getElementById("division").innerText = division;
    }

    function deleteEmployee(id, name) {
        alert(id);
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>