<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
   <form method="post" action="/blog/update" th:object="${blogs}">
       <input type="hidden" th:field="*{id}">
       <div>
           <label>Tên tác giả</label>
           <input type="text" th:field="*{author}"/>
       </div>
       <div>
           <label>Tên Blog</label>
           <input type="text" th:field="*{name}"/>
       </div>
       <div>
           <label>Ngày khởi tạo</label>
           <input type="date" th:field="*{dateCreated}"/>
       </div>
       <div>
           <label>Thể loại</label>
           <select th:field="*{category}">
               <option th:each="item : ${categories}" th:text="${item.name}" th:value="${item.id}">
               </option>
           </select>
       </div>
       <div>
           <label>Nội dung</label>
           <textarea th:field="*{content}"/>
       </div>
       <input type="submit" value="Edit"/>
   </form>
</div>
</body>
</html>