<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add Product</h3>
    <p>
        <a href="/product/list">
            Back to customer list
        </a>
    </p>
    <div id="form">
        <form th:action="@{/product/save}" th:object="${product}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Price</label>
                <input type="number" th:field="*{price}"/>
            </div>
            <div>
                <label>Description</label>
                <input type="text" th:field="*{description}"/>
            </div>
            <div>
                <label>Manufacturer</label>
                <input type="text" th:field="*{manufacturer}"/>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
</body>
</html>